header {
  background: linear-gradient(90deg, #024397, #e04a00);
  color: #ffffff;
  padding: 10px; 
  position: fixed;
  text-align: center;
   top: 0;
   left: 0;
  width: 100%;
 
  
}
.offerstrip{
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 14px; 
}
