.indi-container{
    display: flex;
    
}

.indi-text{
    text-align: left;
    padding: 25px;
}
.indi-text h6{
    font-size: 16px;
    font-weight: 700;
    color: #164786;
}
.indi-text h5{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.indi-text p{
    font-size: 14px;
    font-weight: 400;
    color: #353636;
}
.indi-text ul li {
    font-size: 14px;
    font-weight: 500;
}

.custombtn1{
background-color: #FF681E;
border-radius: 50px;
border:none;
color: #fff;
font-size: 14px;
padding: 15px;
font-weight: 600;
width: 25%;
max-width: 100%;
margin-right: 10px;
}
.custombtn2{
    border: 1px solid #353636;
    border-radius: 50px;
    color: #000;
    font-size: 14px;
padding: 15px;
font-weight: 600;
width: 25%;
max-width: 100%;
margin-left: 10px;

}