 .integrat-section{
    background: url('../../public/assets/Group.png'),url('../../public/assets/Rectangle2.png');
   background-position: left bottom, right top;     
  background-repeat: no-repeat,no-repeat;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
 
 .integrat-text h6{
    font-size: 36px;
    font-weight: 900;
 }
 .integrat-text span{
    color: #D15A31;
 }
 .integrat-text p{
    color: #353636;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -1.1%;
    max-width: 100%;
    width: 60%;
    margin: 0 auto;

 }
  .image-wrapper {
    position: relative;
    width: 100%; /* full container width */
}

.image-wrapper img {
    width: 100%;
    display: block;
}

.hotspot {
    position: absolute;
    cursor: pointer;
}

/* Assuming the image is split into 4 equal sections */
.section1 { top: 0; left: 0; width: 50%; height: 50%; }
.section2 { top: 0; left: 50%; width: 50%; height: 50%; }
.section3 { top: 50%; left: 0; width: 50%; height: 50%; }
.section4 { top: 50%; left: 50%; width: 50%; height: 50%; }