.custom-navbar{
    width: 80%; 
    margin: 60px auto;  
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 24%);
    font-size: 16px;
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   
}