.ventur-section{
    background: url('../../public/assets/download1.svg'), linear-gradient(to bottom, #fff, #07172C);
   background-position: left center;
  background-repeat: no-repeat;
  width: 100%;
}
.venture{
    background-image: linear-gradient(to bottom right, #FCEEE8, #A17F71);
    padding: 32px;
    border-radius: 15px;
 transition: transform .5s;  
  height: 356px;
 position: relative;

}
.venture-img{
bottom: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    transition: transform .5s;
}
.venture:hover {
  transform: scale(1.1); 
}
.venture-part1{
    display:flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.venture-part2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}
.venture1{
background: #E04A00;
padding: 24px;
height: 158px;
       width: 350px; 
display: flex;
    justify-content: center;
border-radius: 15px;
    align-items: center;
    transition: width 1s;
   }
.venture1:hover, .venture2:hover ,.venture3:hover, .venture4:hover{
    width: 400px;
    
    

    

}
.venture2{
background-image: linear-gradient(to bottom right, #0058CA, #4094FF);
padding: 24px;
height: 158px;
 width: 350px; 
display: flex;
    justify-content: center;
border-radius: 15px;
transition: width 1s;
    align-items: center;
}
.venture3{
 background-image: linear-gradient(to bottom right, #ffffff, #B1D3FF);
padding: 24px;
height: 158px;
 width: 350px; 
display: flex;
    justify-content: center;
border-radius: 15px;
    align-items: center;
   transition: width 1s;
   
}
.venture4{
background-image: linear-gradient(to bottom right, #ffffff, #FFEAE0);
padding: 24px;
height: 158px;
 width: 350px; 
display: flex;
    justify-content: center;
border-radius: 15px;
    align-items: center;
    transition: width 1s;
}

.custombtn3{
    border: 1px solid #353636;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
padding: 10px;
font-weight: 400;
width: 50%;
max-width: 100%;
margin-left: 10px;
background-color:#024397;
}


.venture-text h6{
    color: #01295C;
    font-size: 32px;
    font-weight: 800;

}

@media screen and (max-width:480px) {
    .venture-part1{
        flex-wrap: wrap;
    }
}
